<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.senhortavares.com.glassdome</string>
	<key>connections</key>
	<dict>
		<key>00A93B67-8478-4A44-9C9E-F6564AC2B014</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DE3C56C-4FF6-46C3-9FB6-C4ED6843BD6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>08B5DBF9-2AAF-4C44-AF66-BAEB910F5A93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BC383A2-BF07-4C88-B365-49A3E9F92768</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>108AA835-1BD6-417D-9452-B388AC80C4FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA4E12DA-9EF0-43E6-9BF4-6AF7E33BFA88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1634147B-D7B1-4667-A874-B8C7C7B3DD37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26C25D27-C4D0-4B29-BC3D-D7C7206E9DA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D15A354-6A2B-4460-B9F6-626CE73DFE74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBF1EDCC-A608-4BD2-81A6-DBA4ADF08CEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F7F644A-2B5C-4F56-8EBF-1B91ACCC3970</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB08367D-5FD6-4313-B31B-439E2ABD8499</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>230A0CF3-FB17-4BBE-82CC-F36B9A42826B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>108AA835-1BD6-417D-9452-B388AC80C4FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26C25D27-C4D0-4B29-BC3D-D7C7206E9DA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08B5DBF9-2AAF-4C44-AF66-BAEB910F5A93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C8856F14-43E2-422E-BD6A-568786C4341D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E7AFB74B-18B0-4399-A84E-2BC5EC37DDAA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CC0A67B-A06E-4669-AF4F-9E33A7E6AC07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>230A0CF3-FB17-4BBE-82CC-F36B9A42826B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3BC383A2-BF07-4C88-B365-49A3E9F92768</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBF1EDCC-A608-4BD2-81A6-DBA4ADF08CEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C116E29-CBA3-4C35-A014-AB6FBA9190FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF88429D-F73D-4442-A9FF-59BEC6F6829F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C21B1F1-C5EE-4A98-B925-20FA6124CA6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D03CCE12-1A75-4C74-9967-4BFA2B666CB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>44776EB1-6070-41BA-AD38-86D104187F30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA38E072-0FD7-4897-A89E-AC0514D56B4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D6227F4-7637-4C2B-BA37-57009194A051</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30148E75-FC1C-409A-A28D-645F8F5A1E4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DF64BB7-B491-4FAD-B325-D146545607E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C116E29-CBA3-4C35-A014-AB6FBA9190FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52010B8F-9761-451E-93ED-B5540FE90410</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0FF586A-D4F3-48E4-90FE-8A5F092DEA40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64546B12-0369-4E4D-832F-99D3CF2A0144</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6ECB6CE6-D028-498D-8F3B-F9B4811B46B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DE3C56C-4FF6-46C3-9FB6-C4ED6843BD6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DF64BB7-B491-4FAD-B325-D146545607E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6ECB6CE6-D028-498D-8F3B-F9B4811B46B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F45AB046-1F9B-4D8F-9BB4-5224CCEAAEFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>752756EA-1D9B-4712-B0EE-45387A836086</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B991F989-1400-46D2-9A38-52E3F8FA4E37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>757EF8E8-B9B9-4833-8D46-08F32341ABA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F45AB046-1F9B-4D8F-9BB4-5224CCEAAEFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>882BE9D3-6CCD-4154-A642-607BAA21105D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93A6608E-A91A-4B95-AA46-F55641D14A93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C8856F14-43E2-422E-BD6A-568786C4341D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>52010B8F-9761-451E-93ED-B5540FE90410</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93A6608E-A91A-4B95-AA46-F55641D14A93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D6227F4-7637-4C2B-BA37-57009194A051</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0FF586A-D4F3-48E4-90FE-8A5F092DEA40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30148E75-FC1C-409A-A28D-645F8F5A1E4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2BEA417-9A5F-4560-B8C8-F1278E1311EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3B29107-3869-4531-B7D4-A1A81C216A74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6FE832A-5C88-4EC4-AB10-BFE143F9105D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2F1064A-3EE7-426F-9010-044BF59D3E32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA4E12DA-9EF0-43E6-9BF4-6AF7E33BFA88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>882BE9D3-6CCD-4154-A642-607BAA21105D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB08367D-5FD6-4313-B31B-439E2ABD8499</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00A93B67-8478-4A44-9C9E-F6564AC2B014</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>85288706-E48E-4345-BB8F-036A26E67EB0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B0709BEC-0CB9-44CE-8BE2-BCAD0E0D6776</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0709BEC-0CB9-44CE-8BE2-BCAD0E0D6776</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64546B12-0369-4E4D-832F-99D3CF2A0144</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B169F298-6F07-4FED-B565-BCE5C1E06566</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7529757-668D-4882-BD92-700735DD0CD0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B991F989-1400-46D2-9A38-52E3F8FA4E37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44776EB1-6070-41BA-AD38-86D104187F30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF88429D-F73D-4442-A9FF-59BEC6F6829F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C21B1F1-C5EE-4A98-B925-20FA6124CA6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA38E072-0FD7-4897-A89E-AC0514D56B4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1634147B-D7B1-4667-A874-B8C7C7B3DD37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBB39ECD-99D1-4FC4-805F-13507A99C468</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2CC0A67B-A06E-4669-AF4F-9E33A7E6AC07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D03CCE12-1A75-4C74-9967-4BFA2B666CB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>757EF8E8-B9B9-4833-8D46-08F32341ABA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4DCB517-9324-4347-96FB-D0FC47CE165E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>752756EA-1D9B-4712-B0EE-45387A836086</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E2F1064A-3EE7-426F-9010-044BF59D3E32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B169F298-6F07-4FED-B565-BCE5C1E06566</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7AFB74B-18B0-4399-A84E-2BC5EC37DDAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D15A354-6A2B-4460-B9F6-626CE73DFE74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7DBE7AC-7CD7-4251-BA57-DC18B77CFDC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4DCB517-9324-4347-96FB-D0FC47CE165E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3B29107-3869-4531-B7D4-A1A81C216A74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7DBE7AC-7CD7-4251-BA57-DC18B77CFDC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7529757-668D-4882-BD92-700735DD0CD0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBB39ECD-99D1-4FC4-805F-13507A99C468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Senhor Tavares</string>
	<key>description</key>
	<string>Prevent link rot inside your Markdown notes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Glass Dome</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>[{var:title}]({var:url_current}) [⏳]({var:url_archived})</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>757EF8E8-B9B9-4833-8D46-08F32341ABA4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>tell application "Safari" to set currentURL to the URL of the front documentreturn currentURL</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>00A93B67-8478-4A44-9C9E-F6564AC2B014</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>url=$1

curl http://web.archive.org/save/"$url"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D03CCE12-1A75-4C74-9967-4BFA2B666CB6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>tell application "Safari" to set theTitle to name of front documentreturn theTitle</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3C116E29-CBA3-4C35-A014-AB6FBA9190FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:url_current}</string>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3C21B1F1-C5EE-4A98-B925-20FA6124CA6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>BF88429D-F73D-4442-A9FF-59BEC6F6829F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>url_archived</key>
					<string>https://web.archive.org/web/{date:yyyyMMddHHmmss}/{query}</string>
					<key>url_current</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4DF64BB7-B491-4FAD-B325-D146545607E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>6DE3C56C-4FF6-46C3-9FB6-C4ED6843BD6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Markdown link copied to clipboard.</string>
				<key>title</key>
				<string>✅ Snapshot created!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F45AB046-1F9B-4D8F-9BB4-5224CCEAAEFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>gdw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Save snapshot of web page</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F7F644A-2B5C-4F56-8EBF-1B91ACCC3970</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>url=$1

curl http://web.archive.org/save/"$url"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>64546B12-0369-4E4D-832F-99D3CF2A0144</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>no URL → Get it from Safari</string>
						<key>uid</key>
						<string>85288706-E48E-4345-BB8F-036A26E67EB0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>URL→ Save it to variable</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AB08367D-5FD6-4313-B31B-439E2ABD8499</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>[{var:url_current}]({var:url_current}) [⏳]({var:url_archived})</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6ECB6CE6-D028-498D-8F3B-F9B4811B46B0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>url_archived</key>
					<string>https://web.archive.org/web/{date:yyyyMMddHHmmss}/{query}</string>
					<key>url_current</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B0709BEC-0CB9-44CE-8BE2-BCAD0E0D6776</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3BC383A2-BF07-4C88-B365-49A3E9F92768</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Finder" to set theItems to selection
set thePaths to ""
repeat with i in theItems
set thisItem to POSIX path of (i as alias)
set thePaths to thePaths &amp; thisItem &amp; return
end repeat
return thePaths</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E7DBE7AC-7CD7-4251-BA57-DC18B77CFDC3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>gdf</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Save file and create link</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2BEA417-9A5F-4560-B8C8-F1278E1311EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>echo $(python dbshare2.py {query})</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CA38E072-0FD7-4897-A89E-AC0514D56B4A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>[{var:description}]({query})</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>08B5DBF9-2AAF-4C44-AF66-BAEB910F5A93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:description}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>use description</string>
						<key>uid</key>
						<string>C8856F14-43E2-422E-BD6A-568786C4341D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>use file name</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>26C25D27-C4D0-4B29-BC3D-D7C7206E9DA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>"""{var:path}""" {var:db_token} """{var:db_folder}"""</string>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>44776EB1-6070-41BA-AD38-86D104187F30</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>752756EA-1D9B-4712-B0EE-45387A836086</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>D4DCB517-9324-4347-96FB-D0FC47CE165E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*\/(.*\.?\S{0,4})</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>B991F989-1400-46D2-9A38-52E3F8FA4E37</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>description</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F3B29107-3869-4531-B7D4-A1A81C216A74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>1634147B-D7B1-4667-A874-B8C7C7B3DD37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Dropbox link copied to Clipboard</string>
				<key>title</key>
				<string>File copied to Dropbox</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BBF1EDCC-A608-4BD2-81A6-DBA4ADF08CEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1D15A354-6A2B-4460-B9F6-626CE73DFE74</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>[{var:filename}]({query})</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E7AFB74B-18B0-4399-A84E-2BC5EC37DDAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4D6227F4-7637-4C2B-BA37-57009194A051</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>![{var:description}]({query})</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>93A6608E-A91A-4B95-AA46-F55641D14A93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>gdi</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Save image and create link</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A6FE832A-5C88-4EC4-AB10-BFE143F9105D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>tell application "Finder" to set theItems to selection
set thePaths to ""
repeat with i in theItems
set thisItem to POSIX path of (i as alias)
set thePaths to thePaths &amp; thisItem &amp; return
end repeat
return thePaths</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B169F298-6F07-4FED-B565-BCE5C1E06566</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>echo $(python dbshare2.py {query})</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>108AA835-1BD6-417D-9452-B388AC80C4FB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:description}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>use description</string>
						<key>uid</key>
						<string>C8856F14-43E2-422E-BD6A-568786C4341D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>use file name</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>882BE9D3-6CCD-4154-A642-607BAA21105D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>description</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E2F1064A-3EE7-426F-9010-044BF59D3E32</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>F7529757-668D-4882-BD92-700735DD0CD0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CBB39ECD-99D1-4FC4-805F-13507A99C468</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*\/(.*\.?\S{0,4})</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>2CC0A67B-A06E-4669-AF4F-9E33A7E6AC07</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>"""{var:path}""" {var:db_token} """{var:db_folder}"""</string>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>230A0CF3-FB17-4BBE-82CC-F36B9A42826B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>AA4E12DA-9EF0-43E6-9BF4-6AF7E33BFA88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Dropbox link copied to Clipboard</string>
				<key>title</key>
				<string>Image copied to Dropbox</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>30148E75-FC1C-409A-A28D-645F8F5A1E4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A0FF586A-D4F3-48E4-90FE-8A5F092DEA40</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>![{var:filename}]({query})</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>52010B8F-9761-451E-93ED-B5540FE90410</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># About Glass Dome

Inspired by Jeff Huang's [Designed to Last](https://jeffhuang.com/designed_to_last/), Glass Dome is an effort to prevent link rot inside my own notes.

It uses the Internet Archive's Wayback Machine and your own Dropbox account to preserve three kinds of link:

- Webpages
- Images
- Other files

## Setup

### Dropbox Token (db_token)

Fill in "db_token" with your Dropbox authorization token. Go here:

https://www.dropbox.com/developers/apps?_ad=topbar4&amp;_camp=myapps&amp;_tk=pilot_lp

Create an app (name it whatever you like) and generate a token.

### Dropbox Folder (db_folder)

This is the folder in which Glass Dome will place your uploaded files and images. If it doesn't exist, it will be automatically created on first use.

Files are never overwritten: they are timestamped to the second, and the API call is set to auto-rename.

## How to use

Each of the three actions is triggered by a keyword (feel free to change those, by the way).

- gdw (Webpage): It creates Wayback Machine snapshots of any URL passed to it and returns markdown links for both live and saved versions. If no URL is passed, it tries to detect the frontmost Safari tab.

- gdi (Image): Gets selected image file (in Finder) and copies it to a folder in Dropbox (you have to set in the workflow's Environment Variables). Then, it returns a markdown image link to that file. You can pass it an optional description that will be used as alt-text.

- gdf (File): Pretty much the same as the previous one, but for any other file type.

## A couple of warnings
1. This is a very basic workflow put together in a day, with very limited programming knowledge. I made it for my own use, but then figured it might be useful to someone else. It's not elegantly crafted, and it won't be regularly maintained. It seems to work, though.
2. I can't imagine how this workflow could break anything. But I may be wrong.

## Comments or suggestions?

Email: mail@senhortavares.com
Twitter: @senhortavares</string>
	<key>uidata</key>
	<dict>
		<key>00A93B67-8478-4A44-9C9E-F6564AC2B014</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>08B5DBF9-2AAF-4C44-AF66-BAEB910F5A93</key>
		<dict>
			<key>xpos</key>
			<integer>1375</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>108AA835-1BD6-417D-9452-B388AC80C4FB</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>1634147B-D7B1-4667-A874-B8C7C7B3DD37</key>
		<dict>
			<key>xpos</key>
			<integer>1125</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>1D15A354-6A2B-4460-B9F6-626CE73DFE74</key>
		<dict>
			<key>xpos</key>
			<integer>1495</integer>
			<key>ypos</key>
			<integer>725</integer>
		</dict>
		<key>1F7F644A-2B5C-4F56-8EBF-1B91ACCC3970</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>230A0CF3-FB17-4BBE-82CC-F36B9A42826B</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>1015</integer>
		</dict>
		<key>26C25D27-C4D0-4B29-BC3D-D7C7206E9DA3</key>
		<dict>
			<key>xpos</key>
			<integer>1205</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>2CC0A67B-A06E-4669-AF4F-9E33A7E6AC07</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>1015</integer>
		</dict>
		<key>30148E75-FC1C-409A-A28D-645F8F5A1E4C</key>
		<dict>
			<key>xpos</key>
			<integer>1705</integer>
			<key>ypos</key>
			<integer>1040</integer>
		</dict>
		<key>3BC383A2-BF07-4C88-B365-49A3E9F92768</key>
		<dict>
			<key>xpos</key>
			<integer>1500</integer>
			<key>ypos</key>
			<integer>575</integer>
		</dict>
		<key>3C116E29-CBA3-4C35-A014-AB6FBA9190FB</key>
		<dict>
			<key>xpos</key>
			<integer>815</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>3C21B1F1-C5EE-4A98-B925-20FA6124CA6D</key>
		<dict>
			<key>xpos</key>
			<integer>1065</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>44776EB1-6070-41BA-AD38-86D104187F30</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>4D6227F4-7637-4C2B-BA37-57009194A051</key>
		<dict>
			<key>xpos</key>
			<integer>1500</integer>
			<key>ypos</key>
			<integer>970</integer>
		</dict>
		<key>4DF64BB7-B491-4FAD-B325-D146545607E3</key>
		<dict>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>52010B8F-9761-451E-93ED-B5540FE90410</key>
		<dict>
			<key>xpos</key>
			<integer>1375</integer>
			<key>ypos</key>
			<integer>1145</integer>
		</dict>
		<key>64546B12-0369-4E4D-832F-99D3CF2A0144</key>
		<dict>
			<key>xpos</key>
			<integer>1185</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>6DE3C56C-4FF6-46C3-9FB6-C4ED6843BD6B</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>6ECB6CE6-D028-498D-8F3B-F9B4811B46B0</key>
		<dict>
			<key>xpos</key>
			<integer>1525</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>752756EA-1D9B-4712-B0EE-45387A836086</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>757EF8E8-B9B9-4833-8D46-08F32341ABA4</key>
		<dict>
			<key>xpos</key>
			<integer>1520</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>882BE9D3-6CCD-4154-A642-607BAA21105D</key>
		<dict>
			<key>xpos</key>
			<integer>1205</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>93A6608E-A91A-4B95-AA46-F55641D14A93</key>
		<dict>
			<key>xpos</key>
			<integer>1375</integer>
			<key>ypos</key>
			<integer>985</integer>
		</dict>
		<key>A0FF586A-D4F3-48E4-90FE-8A5F092DEA40</key>
		<dict>
			<key>xpos</key>
			<integer>1495</integer>
			<key>ypos</key>
			<integer>1115</integer>
		</dict>
		<key>A2BEA417-9A5F-4560-B8C8-F1278E1311EC</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>A6FE832A-5C88-4EC4-AB10-BFE143F9105D</key>
		<dict>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>985</integer>
		</dict>
		<key>AA4E12DA-9EF0-43E6-9BF4-6AF7E33BFA88</key>
		<dict>
			<key>xpos</key>
			<integer>1125</integer>
			<key>ypos</key>
			<integer>1020</integer>
		</dict>
		<key>AB08367D-5FD6-4313-B31B-439E2ABD8499</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>B0709BEC-0CB9-44CE-8BE2-BCAD0E0D6776</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>B169F298-6F07-4FED-B565-BCE5C1E06566</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>985</integer>
		</dict>
		<key>B991F989-1400-46D2-9A38-52E3F8FA4E37</key>
		<dict>
			<key>xpos</key>
			<integer>715</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>BBF1EDCC-A608-4BD2-81A6-DBA4ADF08CEF</key>
		<dict>
			<key>xpos</key>
			<integer>1705</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>BF88429D-F73D-4442-A9FF-59BEC6F6829F</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>CA38E072-0FD7-4897-A89E-AC0514D56B4A</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>CBB39ECD-99D1-4FC4-805F-13507A99C468</key>
		<dict>
			<key>xpos</key>
			<integer>615</integer>
			<key>ypos</key>
			<integer>1015</integer>
		</dict>
		<key>D03CCE12-1A75-4C74-9967-4BFA2B666CB6</key>
		<dict>
			<key>xpos</key>
			<integer>1175</integer>
			<key>ypos</key>
			<integer>65</integer>
		</dict>
		<key>D4DCB517-9324-4347-96FB-D0FC47CE165E</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>E2F1064A-3EE7-426F-9010-044BF59D3E32</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1015</integer>
		</dict>
		<key>E7AFB74B-18B0-4399-A84E-2BC5EC37DDAA</key>
		<dict>
			<key>xpos</key>
			<integer>1375</integer>
			<key>ypos</key>
			<integer>755</integer>
		</dict>
		<key>E7DBE7AC-7CD7-4251-BA57-DC18B77CFDC3</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>595</integer>
		</dict>
		<key>F3B29107-3869-4531-B7D4-A1A81C216A74</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>625</integer>
		</dict>
		<key>F45AB046-1F9B-4D8F-9BB4-5224CCEAAEFE</key>
		<dict>
			<key>xpos</key>
			<integer>1840</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>F7529757-668D-4882-BD92-700735DD0CD0</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>1015</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>db_folder</key>
		<string></string>
		<key>db_token</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>db_folder</string>
		<string>db_token</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>senhortavares.com</string>
</dict>
</plist>
